body{
  height: 100%;
  margin: 0;
}

#imagem{
  width: 110px;
  height: 50px;
  margin: 10px;
  margin-top: auto;
  position: absolute;
  left: 10px;
  display: flex;
}

::ng-deep{
  input.p-element.ng-tns-c53-0.p-autocomplete-input.p-inputtext.p-component.ng-star-inserted {
    width: 20rem !important;
  }
}

.infoHero{
  display:flex;
}

.bg {
  background-image: url("/assets/img/marvel2_.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

