<script src = "caminho/para/angular-translate.js" ></script>

<p-menubar [model]="items">
  <img src="/assets/img/Marvel_Logo.svg.png" alt="Logo MARVEL" id="imagem">
<p-autoComplete [(ngModel)]="text" placeholder="Buscar" [showEmptyMessage]="true" emptyMessage="Nenhum resultado encontrado" (onSelect)="selectHero()"[minLength]="3" field="name" [suggestions]="result" (completeMethod)="searchHero($event)"></p-autoComplete>
</p-menubar>
<div>
</div>
<div *ngIf="heroName">
  <p-panel [header]="heroName">
    <p>{{heroDescription}}</p>
</p-panel>
</div>

